:root {
  --basic-color: #283136;
  --black: #000000;
  --black-transparent: rgba(0, 1, 1, 0.1);
  --black-transparent-light: rgba(0, 0, 0, 0.0001);
  --black-transparent-dark: rgba(0, 0, 1,0.3);
  --black-transparent-darker: rgba(0, 0, 0, 0.4);
  --black-transparent-dark015: rgba(0, 0, 0, 0.15);
  --black-trasparent-dark1025: rgba(0, 1, 1, 0.25);
  --black-transparent0001: rgba(0, 0, 0, 0.1);
  --basic-red: #FB565A;
  --white: #ffffff;
  --white-legth: #F2F2F2;
  --red-dark: #E74246;
  --red-darker: #D7373B;
  --white-light: rgba(255,255,255,0.3);
  --green: #00CA74;
  --green-dark: #00BC6C;
  --green-darker: #00AA62;
  --yellow:#EFC84A;
  --yellow-dark:#EAB534;
  --yellow-darker: #E5A722;
  --gray: #666666;
  --gray-dark: #444444;
  --gray-light: #EEEEEE;
  --gray-lighter: #c1c1c1;
  --gray-lighterE1: #E1E1E1;
  --gray-lighterD7:#D7DCDE;
  --gray-lighterB4: #B4B9BB;
  --gray-lighterCDF: #D7DCDF;
  --gray-dark-d4d: #4D4D4D;
  --gray-medium: #DBDBDB;
  --gray-medium-dark: #DFDFDF;
  --gray-medium-darker: #D5D5D5;
  --gray-darkBAB: #ABABAB;
  --gray-silver-crayola: #B8B8B8;
  --gray-silver-959595: #959595;
  --gray-dark-A6A6A6: #A6A6A6;
  --gray-silver-ededed: #EDEDED;
  --gray-dark-231F20: #231F20;
}

@font-face {
  font-family: "Roboto";
  src:url("../fonts/roboto.woff2") format("woff2"),
      url("../fonts/roboto.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src:url("../fonts/robotobold.woff2") format("woff2"),
    url("../fonts/robotobold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face{
  font-family: "Roboto";
  src:url("../fonts/robotomedium.woff2") format("woff2"),
    url("../fonts/robotomedium.woff") format("woff");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-color);
}

.page-body {
  position: relative;
  min-width: 1200px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.container {
  width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

:focus {
  outline: 2px solid var(--basic-color);
}
/*header start*/
.main-header {
  background-color: var(--gray-light);
  z-index: 1;
  position: relative;
}
.main-nav {
  display: grid;
  grid-template-columns: 235px 1fr 235px;
  gap: 15px;
  grid-template-rows: minmax(115px, min-content);
}

.main-header-logo {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  margin-top: auto;
  margin-bottom: 1px;
}

.main-header-logo:active {
  opacity: 0.3;
}

.main-nav-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  padding: 0 0 0 0;
  margin: 0 0 -5px 0;
  /* column-gap: 46px; */
}

.main-nav-item .main-nav-link {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  color: var(--black);
  text-transform: uppercase;
  margin-right: 46px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.main-nav-item:last-child .main-nav-link {
  margin-right: 0;
}

.main-nav-item:hover .main-nav-link {
  color: var(--basic-red);
}

.main-nav-item:active .main-nav-link {
  opacity: 0.3;
  color: var(--black);
}

.main-nav-item-current .main-nav-link{
  border-bottom: 2px solid var(--basic-red);
  padding-bottom: 13px;
}

.main-header-cart-link {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: auto;
  margin-left: auto;
  margin-bottom: -5px;
  padding-bottom: 15px;
  padding-top: 15px;
  padding-left: 38px;
  position: relative;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-decoration: none;
  color: var(--black);
  text-transform: uppercase;
}

.main-nav .main-header-cart-link-current{
  border-bottom: 2px solid var(--basic-red);
  padding-bottom: 13px;
}

.main-header-cart-link:hover {
  color: var(--basic-red);
}
.main-header-cart-link:active {
  opacity: 0.3;
  color: var(--black);
}

.main-header-cart-link::before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background-image: url("../img/icon-cart.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  left: 0;
  top: 21px;
}

/*header end*/

.button {
  background-color: var(--basic-red);
  padding-top:13px;
  padding-bottom: 13px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 3px;
  color: var(--white);
  text-transform: uppercase;
  font-size: 16px;
  cursor: pointer;
}

a.button {
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}

button.button {
  border:none;
}

.button:hover {
  background-color: var(--red-dark);
}

.button:active {
  color: var(--white-light);
  box-shadow: inset 0px 3px 0px var(--black-transparent);
}

.main-slider-wrap {
  background-color: var(--gray-light);
  overflow: hidden;
  position: relative;
}

.main-slider-list {
  margin:0;
  padding: 0;
  list-style:none;
}

.main-slider-item {
  display: none;
}

.main-slider-item-container {
  display: grid;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin:0;
  padding: 0;
}

.main-slider-item-container-text {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 1/1;
  z-index: 2;
  max-width: 530px;
}
.main-slider-control {
  position: absolute;
  width: inherit;
  bottom: 96px;
  display: flex;
  justify-content: center;
}

.main-slider-control label {
  display:inline-block;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
  height: 18px;
  width: 18px;
  background-color: var(--white);
  border-radius: 50%;
}

.main-slider-control label:not(:last-child) {
  margin-right: 18px;
}

#main-slide-1:checked ~ .main-slider-control label[for="main-slide-1"]::before,
#main-slide-2:checked ~ .main-slider-control label[for="main-slide-2"]::before,
#main-slide-3:checked ~ .main-slider-control label[for="main-slide-3"]::before{
  content: "";
  height: 4px;
  width: 4px;
  border-radius: 50%;
  left: 5px;
  top: 5px;
  border: 2px solid var(--gray-lighter);
  position: absolute;
}

#main-slide-1:focus ~ .main-slider-control label[for="main-slide-1"],
#main-slide-2:focus ~ .main-slider-control label[for="main-slide-2"],
#main-slide-3:focus ~ .main-slider-control label[for="main-slide-3"]{
  outline: 2px solid var(--basic-color);
}

#main-slide-1:checked ~ .main-slider-list #main-slider-item-1,
#main-slide-2:checked ~ .main-slider-list #main-slider-item-2,
#main-slide-3:checked ~ .main-slider-list #main-slider-item-3 {
  display: block;
}

.main-slogan-desc-button {
  margin-top: 11px;
  margin-bottom: 5px;
  padding-left: 55px;
  padding-right: 55px;
}

.main-slider-item-container-img {
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
  max-width: 760px;
  grid-row: 1/1;
  align-self: flex-end;
}

.main-slogan {
  color: var(--black);
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;

}

.main-slogan-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-color);
  margin-top: 25px;
  margin-bottom: 29px;
}

.offer {
  margin-top: 78px;
  margin-bottom: 41px;
}

.offer-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 100px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.offer-item {
  margin-right: 100px;
  max-width: 300px;
  overflow-wrap: break-word;
  margin-bottom: 40px;
}

.offer-item:nth-child(3n) {
  margin-right: 0;
}

.offer-item img {
  width: 300px;
  height: 146px;
  background-color: gray;
}

.offer-item:nth-child(1) img {
  background-color: var(--red-dark);
}

.offer-item:nth-child(2) img {
  background-color: var(--green);
}

.offer-item:nth-child(3) img {
  background-color: var(--yellow);
}

.offer-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: var(--black);
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 15px;
}

.offer-item-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-color);
  margin-right: 25px;
}

.offer-item-button {
  margin-top: 16px;
}

.offer-item-button-green {
  background-color: var(--green);
}

.offer-item-button-green:hover {
  background-color: var(--green-dark);
}

.offer-item-button-green:active {
  background-color: var(--green-darker);
  color: var(--white-light);
}

.offer-item-button-yellow {
  background-color: var(--yellow);
}

.offer-item-button-yellow:hover {
  background-color: var(--yellow-dark);
}

.offer-item-button-yellow:active {
  background-color: var(--yellow-darker);
}

.about {
  display: grid;
  grid-template-columns: auto 360px;
  gap: 100px;
  margin-bottom: 50px;
}

.about-section {
  margin-top: 30px;
}

.about::before {
  content: "";
  border-top: 2px solid var(--gray-light);
  position: absolute;
  width: inherit;
}

.about-slogan {
  color: var(--black);
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  margin-bottom: 33px;
}
.about-lead {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-color);
  margin-right: 15px;
}
.about-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--basic-color);
  margin-top: 40px;
  margin-bottom: 23px;
}

.about-list {
  list-style: none;
  padding-left: 35px;
  margin: 0;
}

.about-list li{
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--basic-color);
  margin-bottom: 24px;
}

.about-list li::before {
  content: "";
  background-color: var(--basic-red);
  width: 25px;
  height: 2px;
  position: absolute;
  left: -35px;
  top: 11px;
}

.about-history {
  position: relative;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--black);
  text-align: center;
  padding-top: 239px;
}

.about-history::before {
  content: "";
  width: 360px;
  height: 208px;
  background-color: var(--black);
  background-image: url("../img/nerds-illustration.jpg");
  position: absolute;
  top: -6px;
  left: 0;
}

.about-history-list {
  list-style: none;
  margin: 44px 0 0 0;
  padding:0;
  display: flex;
  flex-basis: 100px;
  flex-wrap: wrap;
  word-break: normal;
}

.about-history-item {
  color: var(--black);
  font-weight: 700;
  font-size: 45px;
  line-height: 35px;
  flex-basis: 100px;
  margin-right: 19px;
}

.about-history-item:last-child {
  margin-right: 0;
}

.about-history-item-percent {
  font-size: 26px;
  line-height: 40px;
}
.about-history-item-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-color);
  margin-top: 17px;
  display: inline-block;
  vertical-align: middle;
}

.customers {
  margin-bottom: 81px;
}

.customers::before {
  content: "";
  border-top: 2px solid var(--gray-light);
  position: absolute;
  width: inherit;
}

.customers::after {
  content: "";
  border-top: 2px solid var(--gray-light);
  position: absolute;
  width: inherit;
}

.customers-list {
  display: grid;
  grid-template-columns: 282px 298px 298px 282px;
  grid-template-rows: 178px;
  align-items: center;
  justify-items: center;
  list-style: none;
  margin: 0;
  padding:5px 0 0 0;
}

.customers-item {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.customers-item:not(:nth-child(4n))::after {
  content: "";
  width: 2px;
  background-color: var(--gray-light);
  height: 52px;
  right: 0;
  position: absolute;
}

.customers-item-link {
  opacity: 0.2;
}

.customers-item-link:hover {
  opacity: 1;
}

.customers-item-link:active {
  opacity: 0.1;
}

.customers-item:first-child .customers-item-link {
  margin-top: 10px;
  margin-right: 20px;
}

.customers-item:last-child .customers-item-link {
  margin-left: 20px;
  margin-top: 5px;
}

/* Footer start*/
.main-footer-top .container{
  display: grid;
  overflow: hidden;
  position: relative;
}

.main-footer-top {
  position: relative;
  margin-bottom: 44px;
}

.main-footer-top-js {
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
}

.main-footer-block-map-item {
  position: absolute;
  z-index: 1;
  background-color: var(--gray-light);
  width: 100%;
  object-fit: cover;
  text-align: center;
  height: 416px;
  border:none;
}

.main-footer-top-block-map {
  background-color: var(--white);
  width: 219px;
  min-height: 262px;
  margin-top: 54px;
  margin-bottom: 54px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 35px;
  padding-bottom: 10px;
  z-index: 3;
}

.main-footer-top-block-map::after {
  content: "";
  width: 231px;
  height: 190px;
  background-image: url("../img/map-marker.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  position: absolute;
  top: 85px;
  right: 258px;
}

.main-footer-top-block-map-js::after {
  display: none;
}

.main-footer-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--black);
}
.main-footer-address {
  padding-top:7px;
  color: var(--gray);
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
}

.main-footer-tel {
  color: var(--gray);
}

.main-footer-tel-link {
  color: var(--gray);
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
}

.main-footer-button {
  margin-top: 19px;
  padding-left: 44px;
  padding-right: 44px;
}

.main-footer-bottom {
  display: grid;
  grid-template-columns: 319px auto;
  gap: 80px;
}

.main-footer-bottom-list {
  list-style: none;
  margin: 5px 0 0 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
}

.main-footer-bottom-item {

  margin-right: 9px;
  margin-bottom: 15px;
}

.main-footer-bottom-item:nth-child(3n) {
  margin-right: 0;
}

.main-footer-bottom-item-link {
  background-color: var(--gray-lighterE1);
  width: 81px;
  height: 81px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-footer-bottom-item-link:hover {
  background-color: var(--red-dark);
}

.main-footer-bottom-item-link:active {
  background-color: var(--red-darker);
  box-shadow: inset 0px 3px 0px var(--black-transparent);
}

.main-footer-bottom-item-link:active::before {
  opacity: 0.3;
}

.main-footer-bottom-item-link-vk::before {
  content: "";
  width: 27px;
  height: 15px;
  background-image: url("../img/icon-vk.svg");
  background-repeat: no-repeat;
}

.main-footer-bottom-item-link-fb::before {
  content: "";
  width: 12px;
  height: 22px;
  background-image: url("../img/icon-facebook.svg");
  background-repeat: no-repeat;
}

.main-footer-bottom-item-link-ig::before {
  content: "";
  width: 21px;
  height: 21px;
  background-image: url("../img/icon-insta.svg");
  background-repeat: no-repeat;
}

.main-footer-bottom-lead {
  color: var(--black);
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  margin-top: 30px;
}

.main-footer-bottom-lead span {
  color: var(--gray-dark);
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}
/*footer end*/

/*calalog.html start*/
.shop .container{
  display: grid;
  grid-template-areas:
    "aside catalog"
  ;
  grid-template-columns: 260px 1fr;
  gap: 140px;
  margin-top: 35px;
}

.shop-filter {
  grid-area: aside;
}

.shop-filter-legend {
  margin-bottom: 50px;
  border-radius: 3px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color:var(--black)
}

.shop-filter-price {
  margin-bottom: 55px;
}

.shop-filter-price-range {
  background-color: var(--gray-light);
  height: 80px;
  width: calc(100% - 44px);
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 22px;
  padding-right: 22px;
  margin-bottom: 13px;
}

.shop-filter-price-bar {
  width: 100%;
  height: 2px;
  background-color: var(--gray-lighterCDF);
  position: relative;
}

.shop-filter-price-bar-shift {
  background-color: var(--green);
  width: 67%;
  height: 100%;
  max-width: 100%;
}

.shop-filter-price-marker {
  position: absolute;
  top: -9px;
  width: 20px;
  height: 20px;
  background-color: var(--white);
  box-shadow: 0px 2px 1px var(--black-transparent-dark015);
  border-radius: 50%;
  cursor: pointer;
}

.shop-filter-price-marker::before {
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--gray-darkBAB);
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 2px);
  right: calc(50% - 2px);
}

.shop-filter-price-input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 34px;
}

.shop-filter-price label {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop-filter-price input[type='number'] {
  -moz-appearance:textfield;
}

.shop-filter-price input::-webkit-outer-spin-button,
.shop-filter-price input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.shop-filter-price-input label[for="shop-filter-price-min"] {
  max-width: 115px;
  grid-column: 1/1;
}

.shop-filter-price-input label[for="shop-filter-price-max"] {
  max-width: 115px;
  grid-column: 2/2;
}

.shop-filter-price-min, .shop-filter-price-max {
  width: 77px;
  font-size: 16px;
  line-height: 22px;
  color: var(--basic-color);
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  background-color: var(--gray-light);
  border: none;
  border-radius: 3px;
}

.shop-filter-type-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.shop-filter-type .shop-filter-legend {
  margin-bottom: 13px;
}

.shop-filter-type-item {
  margin-bottom: 16px;
}

.shop-filter-type label {
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-color);
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.shop-filter-type-item label::before,
.shop-filter-type-item-input:disabled + label:hover::before {
  content: "";
  width: 17px;
  height: 17px;
  border: 4px solid var(--gray-silver-crayola);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: -2px;
}

.shop-filter-type-item-input:disabled + label{
  opacity: 0.3;
  color: var(--basic-color);
}

.shop-filter-type-item-input:checked + label::after {
  content: "";
  width: 9px;
  height: 9px;
  background-color: var(--gray-silver-crayola);
  border-radius: 50%;
  position: absolute;
  left: 8px;
  top: calc(50% - 3.5px);
}

input[name="shop-filter-type"]:hover + label::before,
input[name="shop-filter-type"]:focus + label::before {
  border-color: var(--gray-dark-d4d);
}

input[name="shop-filter-type"]:hover + label::after,
input[name="shop-filter-type"]:focus + label::after {
  background-color: var(--gray-dark-d4d);
}

.shop-filter-type-item-input:disabled + label::after  {
  background-color:var(--gray-silver-crayola);
}

.shop-filter-features {
  margin-bottom: 48px;
}

.shop-filter-features .shop-filter-legend {
  margin-bottom: 13px;
}

.shop-filter-type {
  margin-bottom: 45px;
}

.shop-filter-features-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.shop-filter-features-item {
  margin-bottom: 16px;
}

.shop-filter-features label {
  font-size: 16px;
  line-height: 19px;
  color: var(--basic-color);
  position: relative;
  padding-left: 35px;
  cursor: pointer;
}

.shop-filter-features label:focus {
  outline: 3px solid var(--basic-color);
  outline-offset: 2px
}

input[name="shop-filter-features-checkbox"]:disabled + label {
  opacity: 0.3;
}

input[name="shop-filter-features-checkbox"]:hover + label::before,
input[name="shop-filter-features-checkbox"]:focus + label::before {
  opacity: 1;
}

.shop-filter-features-item label::before {
  content: "";
  width: 26px;
  height: 23px;
  background-image: url("../img/icon-checkbox-off.svg");
  background-repeat: no-repeat;
  position: absolute;
  background-position: 0;
  left: 0px;
  top: -2px;
  opacity: 0.4;
}

input[name="shop-filter-features-checkbox"]:checked + label::before {
  background-image: url("../img/icon-checkbox-on.svg");
  opacity: 1;
}

input[name="shop-filter-features-checkbox"]:disabled + label::before {
  opacity: 0.3;
}

.shop-filter-button {
  background-color: var(--gray-light);
  color: var(--black);
  text-transform: uppercase;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  padding-top: 16px;
  padding-bottom: 16px;
}

.shop-filter-button:hover {
  background-color: var(--gray-medium-dark);
}

.shop-filter-button:active {
  background-color: var(--gray-medium-darker);
  color: var(--gray-silver-959595);
}

.shop-filter-additional {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: baseline;
}

.shop-filter-additional-legend {
  flex-basis: 400px;
}

.shop-filter-additional-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 300px;
  align-items: center;
}

.shop-filter-additional-list a {
  background: none;
  border:none;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  color: var(--black);
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.3;
}

.shop-filter-additional-list a:hover {
  opacity: 0.6;
}

.shop-filter-additional-list a:active,
.shop-filter-additional-list .shop-filter-additional-item-button-active {
  opacity: 1;
}

.shop-filter-additional-list-direction {
  list-style: none;
  margin: 0 0 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 43px;
}

.shop-filter-additional-list-direction li {
  margin-bottom: 5px;
}

.shop-filter-additional-list-direction .shop-filter-additional-order-button {
  display: inline-block;
  margin-right: 7px;
}

.shop-filter-additional-list-direction-item:nth-child(2)
.shop-filter-additional-order-button {
  margin-right: 0;
}

.shop-filter-additional-list-direction .shop-filter-additional-order-button-bottom {
  border-top: 12px solid var(--gray-dark-A6A6A6);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  opacity: 0.2;
}

.shop-filter-additional-list-direction .shop-filter-additional-order-button-top {
  border-top: 12px solid var(--gray-dark-A6A6A6);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  opacity: 0.2;
  transform: rotate(180deg);
}

.shop-filter-additional-order-button-top:hover,
.shop-filter-additional-order-button-bottom:hover {
  border-top-color: var(--gray-dark-A6A6A6);
  opacity: 1;
}

.shop-filter-additional-list-direction .shop-filter-additional-order-active {
  border-top-color: var(--gray-dark-231F20);
  opacity: 1;
}

.shop-filter-additional-item:not(:last-child) {
  margin-right: 25px;
}

.shop-header {
  background-color: var(--gray-light);
  padding-top: 40px;
  padding-bottom: 73px
}

.shop-header-title {
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--black);
  text-align: center;
}

.shop-catalog {
  grid-area: catalog;
}

.shop-catalog-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  background-color: var(--white-legth);
  box-sizing: border-box;
}

.shop-catalog-item::before {
  content: "";
  width: 360px;
  height: 40px;
  background-image: url("../img/box-browser.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.12;
}

.shop-catalog-item:hover::before,
.shop-catalog-item:focus::before {
  opacity: 1;
  transition: 0.25s opacity, 0.25s visibility;
}

.shop-catalog-item:hover,
.shop-catalog-item:focus {
  box-shadow: 0px 6px 15px var(--black-trasparent-dark1025);
  border-color: transparent;
}

.shop-catalog-item > img {
  border: 1px solid var(--black-transparent0001);
  border-top-width: 0;
  background-color: var(--gray-light);
}

.shop-catalog-item:hover > img,
.shop-catalog-item:focus > img {
  border: 1px solid transparent;
  border-top-width: 0;
}

.shop-catalog-item-box {
  background-color: var(--gray-light);
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 231px;
  max-height: 400px;
  overflow: auto;
  padding: 10px 50px;
  box-sizing: border-box;
  opacity: 0;
}

.shop-catalog-item:hover .shop-catalog-item-box,
.shop-catalog-item:focus-within .shop-catalog-item-box {
  opacity: 1;
  transition: 0.25s opacity, 0.25s visibility;
}

.shop-catalog-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
  row-gap: 31px;
  list-style: none;
  margin: 0 0 54px 0;
  padding: 0;
}

.shop-catalog-item-box-title {
  color: var(--black);
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom: -3px;
}

.shop-catalog-item-box-title a {
  color: inherit;
  text-decoration: none;
}

.shop-catalog-item-box-title:hover {
  color: var(--basic-red);
}

.shop-catalog-item-box-title:active {
  color: var(--black);
  opacity: 0.3;
}

.shop-catalog-item-box-desc {
  font-size: 16px;
  line-height: 18px;
  color: var(--gray);
}

.shop-catalog-item-box-button {
  margin-top: 15px;
  min-width: 200px;
  box-sizing: border-box;
}

.shop-catalog-item-box-button:active {
  color: var(--white);
  background-color: var(--red-darker);
}

.shop-pagination-list {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 10px;
}

.shop-pagination-item {
  display: flex;
  flex-wrap: wrap;
  margin-right: 11px;
  margin-bottom: 10px;
}

.shop-pagination-item:last-child {
  margin-right: 0;
}

.shop-pagination-item-link:hover {
  background: var(--gray-medium-dark);
}

.shop-pagination-list .shop-pagination-item-link-current{
  border: 3px solid var(--gray-medium);
  box-sizing: border-box;
  background-color: var(--white);
}

.shop-pagination-item-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  height: 50px;
  border-radius: 3px;
  text-decoration: none;
  color: var(--black);
  text-transform: uppercase;
  font-weight: 500;
  background-color: var(--gray-light);
}

.shop-pagination-item-link:active {
  background: var(--gray-medium-darker);
  color: var(--black-transparent);
}

.shop-pagination-item-link:active {
  background: var(--black-transparent-dark);
  box-shadow: inset 0px 3px 0px var(--black-transparent);
}

.shop-pagination-item-button {
  width: 260px;
  text-align: center  ;
}
/*calalog.html end*/

/*modal*/
.modal {
  position: fixed;
  background-color: var(--white);
  width: 760px;
  height: 490px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  margin: auto;
  box-shadow: 0px 20px 40px var(--black-transparent-darker);
  padding: 50px 100px;
  opacity: 0;
}

.page-body .modal-hidden {
  display: none;
}

.modal-animation {
  opacity: 1;
  transition: 0.25s opacity, 0.25s visibility;
}

.modal-animation-hide {
  opacity: 0;
  transition: 0.25s opacity, 0.25s visibility;
}

.page-body-modal .modal {
  position: relative;
}

.modal-close {
  position: absolute;
  right: 90px;
  top: 78px;
  width: 21px;
  height: 21px;
  opacity: 0.3;
  border:none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.modal-close:hover {
  opacity: 1;
}

.modal-close:active {
  opacity: 0.1;
}

.modal-close::after,
.modal-close::before {
  content: "";
  width: 26px;
  height: 4px;
  background-color: var(--basic-red);
  position: absolute;
  top: 9px;
  left: -3px;
}

.modal-close::after {
  transform: rotate(45deg);
}

.modal-close::before {
  transform: rotate(-45deg);
}

.modal-contact {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, min-content);
}

.modal-contact-title {
  grid-column: 1/-1;
  grid-row: 1/2;
  font-size: 45px;
  line-height: 53px;
  color: var(--black);
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 35px;
}

.modal-contact-form {
  grid-column: 1/-1;
  grid-row: 2/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, min-content);
  row-gap: 30px;
  column-gap: 40px;
}

.modal-contact-form label {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--black);
}

.modal-contact-form label[for="modal-contact-form-name"] {
  grid-column: 1/2;
  grid-row: 1/1;
}

.modal-contact-form label[for="modal-contact-form-email"] {
  grid-column: 2/-1;
  grid-row: 1/1;
}

.modal-contact-form label[for="modal-contact-form-message"] {
  grid-column: 1/-1;
  grid-row: 2/3;
}

.modal-contact-form textarea {
  max-width: 179px;
  max-height: 150px;
  min-width: 100%;
  min-height: 88px;
}

.modal-contact-form input:not(.modal-contact-form-button),
.modal-contact-form textarea {
  display: block;
  margin-top: 10px;
  border:2px solid var(--gray-lighterD7);
  border-radius: 3px;
  font-size: 16px;
  line-height: 18px;
  color: var(--gray-dark);
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}

.modal-contact-form input:not(.modal-contact-form-button):hover,
.modal-contact-form textarea:hover {
  border-color: var(--gray-lighterB4);
}

.modal-contact-form input:not(.modal-contact-form-button):focus,
.modal-contact-form textarea:focus {
  border-color: var(--black);
  color: var(--gray-dark);
}

.modal-contact-form input:not(.modal-contact-form-button).invalid,
.modal-contact-form textarea.invalid {
  border-color: var(--red-dark);
  transition: 0.25s;
}

.modal-contact-form-button {
  grid-column: 1/-1;
  grid-row: 3/-1;
  display: inline-block;
  vertical-align: middle;
  width: 260px;
  border: none;
  margin-top: 15px;
  padding: 15px;
  cursor: pointer;
}
